<article class="pin">
    <figure>
        <div class="pin-image-holder">
            {% if item.image %}
                <img class="pin-image" src="{{ MEDIA_URL }}{{ item.image }}">
            {% elif item.item %}
                <img class="pin-image" src="{{ MEDIA_URL }}{{ item.item.image }}">
            {% endif %}
        </div>
        {% if item.message %}
            <figcaption class="pin-caption">
                {{ item.message }}
            </figcaption>
        {% endif %}
    </figure>
    <form class="pin-bottom" method="POST" action="{% url 'pin' %}">
        <textarea class="form-control" name="message" placeholder="Comment..."></textarea>
        {% csrf_token %}
        <div class="media">
            <div class="pull-left">
                <input class="btn btn-primary btn-sm" type="submit" value="Pin">
            </div>
            <div class="media-body">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon text-muted">in</span>
                    <input class="form-control" name="board_name" placeholder="Board name" type="text" value="My favourite things">
                </div>
            </div>
        </div>
        <input name="influencer" type="hidden" value="{{ item.user_id }}">
        <input name="item" type="hidden" value="{{ item.id }}">
        <input type="hidden" name="next" value="{{ request.get_full_path }}">
    </form>
    {% if item.user %}
        <footer class="pin-attribution">
        by <a href="{% url 'profile' item.user.username %}">{{ item.user }}</a>{% if item.created_at %} {{ item.created_at|timesince }} ago {% endif %}
        </footer>
    {% endif %}
    
</article>