{% extends 'core/_base.html' %}

{% block nav %}
    {% include "core/_nav.html" with location='feed' %}
{% endblock nav %}

{% block content %}
<div id="wrapper">
    <div class="container-pins">
    {{feed_pins}}
        {% for activity in feed_pins %}
            {% with activity.pin as pin %}
                {% include "core/_pin.html" with item=pin %}
            {% endwith %}
        {% endfor %}
    </div>
</div>
{% endblock content %}